@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
	width: 1rem;
}
html::-webkit-scrollbar-track {
	background: #fff;
}
html::-webkit-scrollbar-thumb {
	background: #10221b;
}

img {
	display: block;
	max-width: 100%;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
}

ul {
	list-style: none;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-color: #ffffff;
	color: #0c2440;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	max-width: 1440px;
}
